*{
    box-sizing: border-box;
}

.container {
    width: 90%;
    height: 400px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.image img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
    filter: drop-shadow(3px 5px 7px black);
}

.text p {
    margin-bottom: 30px;
}

.text a {
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid skyblue;
    color: black;
    border-radius: 3px;
    display: block;
    width: 100px;
    text-align: center;
    transition: 1.5s;
}

.text a:hover {
    transform: scale(1.1);
    transition: 1.5s;
    background-image: linear-gradient(to right, #c1f1e1,#2fd09a);
}

@media (max-width: 900px){
    .container {
        flex-direction: column;
        height: 700px;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }

    .image img{
        margin-top: 20px;
        width: 100%;
        padding-left: 0;
    }

    .text p {
        margin-bottom: 20px;
    }
}